<div class="container">
  <h1>Detalle del Autor</h1>

  <a href="#" routerLink="/autor" class="btn btn-primary">Volver</a>
  <!--
  "titulo": "ejemplo10 ",
  "agno": 1980,
  "genero": "cronica",
  "numeroPaginas": 2,
  "editorialId": 4,
  "autorId": 15
  -->
  <div>
    <strong>ID:</strong>
    <p>{{ libro.id }}</p>
  </div>

  <div>
    <strong>Titulo:</strong>
    <p>{{ libro.titulo }}</p>
  </div>

  <div>
    <strong>Año:</strong>
    <p>{{ libro.agno }}</p>
  </div>

  <div>
    <strong>Genero:</strong>
    <p>{{ libro.genero }}</p>
  </div>
  <div>
    <strong>Paginas:</strong>
    <p>{{ libro.numeroPaginas }}</p>
  </div>
</div>
