<div class="container">
  <h1>Actualizar Libro</h1>

  <a href="#" routerLink="/libro" class="btn btn-primary">Volver</a>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group">
      <label for="title">Titulo:</label>
      <input
        placeholder="Titulo"
        id="titulo"
        type="text"
        [(ngModel)]="libro.titulo"
        class="form-control"
        formControlName="titulo"
      />
      <div
        *ngIf="f.titulo.touched && f.titulo.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f.titulo.errors?.required">Es requerido.</div>
        <div *ngIf="f.titulo.errors?.minlength">
          No puede ser menos de un caracter.
        </div>
        <div *ngIf="f.nombre.errors?.pattern">Solo pueden ser letras.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="title">Año:</label>
      <input
        placeholder="Año"
        id="agno"
        type="number"
        [(ngModel)]="libro.agno"
        class="form-control"
        formControlName="agno"
      />
      <div
        *ngIf="f.agno.touched && f.agno.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f.agno.errors?.required">Es requerido.</div>
        <div *ngIf="f.agno.errors?.minlength">
          No puede ser menos de cuatro caracteres.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="title">Genero:</label>
      <select class="form-control" (change)="changeGenero($event)" formControlName="genero">
        <option value="">Selecciones el genero</option>
        <option *ngFor="let genero of libro.generos" [(ngModel)]="libro.genero"  >{{genero}}</option>
     </select>
      <div
        *ngIf="f.genero.touched && f.genero.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f.genero.errors?.required">Es requerido.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="title">Paginas:</label>
      <input
        placeholder="Paginas"
        id="numeroPaginas"
        type="number"
        [(ngModel)]="libro.numeroPaginas"
        class="form-control"
        formControlName="numeroPaginas"
      />
      <div
        *ngIf="f.numeroPaginas.touched && f.numeroPaginas.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f.numeroPaginas.errors?.required">Es requerido.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="title">Editorial:</label>
      <input
        placeholder="Editorial"
        id="editorialId"
        type="number"
        [(ngModel)]="libro.editorialId"
        class="form-control"
        formControlName="editorialId"
      />
      <div
        *ngIf="f.editorialId.touched && f.editorialId.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f.editorialId.errors?.required">Es requerido.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="title">Autor:</label>
      <input
        placeholder="Autor"
        id="autorId"
        type="number"
        [(ngModel)]="libro.autorId"
        class="form-control"
        formControlName="autorId"
      />
      <div
        *ngIf="f.autorId.touched && f.autorId.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f.autorId.errors?.required">Es requerida.</div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
      Actualizar
    </button>
  </form>
</div>
