<div class="container">
  <h1>Detalle del Editor</h1>

  <a href="#" routerLink="/autor" class="btn btn-primary">Volver</a>
  <!-- "id": 2,
  "nombre": "planeta tierra",
  "direccion": "desc2 actualizado test",
  "telefono": 6874564,
  "correoElectronico": "planeta@gmail.com",
  "maxLibros": 5 -->

  <div>
    <strong>ID:</strong>
    <p>{{ editorial.id }}</p>
  </div>

  <div>
    <strong>Nombre:</strong>
    <p>{{ editorial.nombre }}</p>
  </div>

  <div>
    <strong>Dirección:</strong>
    <p>{{ editorial.direccion }}</p>
  </div>
  <div>
    <strong>Telefono:</strong>
    <p>{{ editorial.telefono }}</p>
  </div>
  <div>
    <strong>Correo:</strong>
    <p>{{ editorial.correoElectronico }}</p>
  </div>
  <div>
    <strong>Max. Libros:</strong>
    <p>{{ editorial.maxLibros }}</p>
  </div>
</div>
